* {
    box-sizing: border-box
}

body {
    margin: 5% auto;
    text-align: center;
    font-family: sans-serif;
}

select,
button {
    display: block;
    margin: 1% auto;
    text-align-last: center;
}

#results {
    margin: 2% 15% 0 15%;
    width: 70%;
}

.team {
    width: 40%;
}

.score {
    width: 20%;
    text-align: center;
    text-decoration: none;
}

.score a {
    text-decoration: none;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

tr:first-child td:first-child {
    font-weight: bold;
}

tr:last-child td:last-child {
    font-weight: bold;
}

.placement {
    color: gray;
    margin-right: 5px;
    margin-left: 5px;
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

text {
    font-family: sans-serif;
    font-size: 10px;
}

#better-worse {
    display: inline-block;
}